
.modalWrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: #14141496;
    display: grid;
    place-content: center;
}
.modal{
    width: 33.75rem;
    min-height: 29rem;
    background-color: white;
    border-radius: 20px;
    padding: 2.13rem 2.5rem;
    color: #161932;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    position:relative;
  }
  .settings{
    font-size: 2rem;
  }
  .grey-line  {
    width: 100%;
    height: 1px;
    border: none;                  
    background-color: lightgray;
    padding: 0;
  }
  
  .spaced{
    letter-spacing: 0.5rem;
  }
  header{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .close{
    cursor: pointer;
  }
  .font{
    display: grid;
    place-content: center;
  }
  .font-section{
    display: flex;
    justify-content: space-between;
  }
  .font-selection{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .firstAs, .secondAs, .thirdAs{
    background-color: #EFF1FA;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5625rem; 
    display: grid;
    place-content: center;
    cursor: pointer;
  }
  .firstAs{
    color: black;
  }
  .secondAs{
    font-weight: 550;
    font-family: "Roboto Slab", serif;
  }
  .thirdAs{
    font-family: "Space Mono", monospace;
  }
  .black{
    background-color: black;
    color:white;
  }
  .color-section{
    display: flex;
    justify-content: space-between;
  }
  .color-selection{
    display: flex;
    gap: 1rem;
  }
  .fuschia, .teal, .purple{
    width: 2.5rem;
    height: 2.5625rem; 
    border-radius: 50%;
    cursor: pointer;
  }
  .fuschia{
    background-color: #F87070;
  }
  .teal{
    background-color: #70F3F8;
  }
  .purple{
    background-color: #D881F8;
  }
  .color-selection div {
    position: relative;
    width: 2.5rem; /* size adjustments */
    height: 2.5625rem; /* size adjustments */
    border-radius: 50%; /* for circular shape */
    cursor: pointer;
}

.fuschia::before, .teal::before, .purple::before {
    content: '';
    display: none; 
    width: 5px; /*  check mark width */
    height: 15px; /* check mark height */
    border-right: 2.5px solid black; /* color and size of right border */
    border-bottom: 2.5px solid black; /* color and size of bottom border */
    transform: translate(-50%, -50%) rotate(45deg); /* position and angle */
    position: absolute;
    top: 50%; /* centers the check mark */
    left: 50%; /* centers the check mark */
}

.fuschia.selected::before, .teal.selected::before, .purple.selected::before {
    display: block; /* makes the check mark visible when selected */
}

.fuschia {
    background-color: #F87070;
}

.teal {
    background-color: #70F3F8;
}

.purple {
    background-color: #D881F8;
}

  
  .time_settings{
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }
  .time_header{
    padding-bottom:1rem;
  }
  .time_grid{
    /* border: 2px solid black; */
    /* height: 4.25rem; */
    display: grid;
    grid-template-rows: 4;
    grid-template-columns: 3;
    grid-template-areas:
    "title1 title2 title3"
    "bar1 bar2 bar3"
    "bar1 bar2 bar3"
    "bar1 bar2 bar3"
  }
  .tg_pomodoro{
    grid-area: title1;
  }
  .tg_sb{
    grid-area: title2;
  }
  .tg_lb{
    grid-area: title3;
  }
  .tg_pomodoro, .tg_sb, .tg_lb{
    color:grey;
    padding-bottom:0.6125rem;
  }
  .bar1, .bar2, .bar3{
    max-width: 8.75rem;
    min-height: 3rem;
    background-color: #EFF1FA;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .bar1{
    grid-area: bar1;
  }
  .bar2{
    grid-area: bar2;
  }
  .bar3{
    grid-area: bar3;
  }
  .number1, .number2, .number3{
    padding-left:1rem;
  }
  .arrows{
    display: flex;
    flex-direction: column;
    padding-right: 1rem;
  }
  .up, .down{
    cursor: pointer;
  }
  .apply{
    padding: 1.125rem, 2.94rem;
    color: white;
    background-color: #F87070;
    width: 8.75rem;
    height: 3.3125rem;
    border-radius: 1.65625rem;
    display: grid;
    place-content: center;
    position:absolute;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, 50%);
    cursor: pointer;
  }